/* ----------------------------------------------------- */

@font-face {
    font-family: lddistorteddrusillus;
    src: url('fonts/lddistorteddrusillus.ttf');
}

.lddistorteddrusillus {
    font-family: 'lddistorteddrusillus';
}

@font-face {
    font-family: creato-display;
    src: url('fonts/creato-display/CreatoDisplay-Medium.otf');
}

.creato-display {
    font-family: 'creato-display';
    font-style: normal;
    letter-spacing: -.04em;
    font-size: 1.1em;

}

@font-face {
    font-family: Helvetica;
    src: url('fonts/helvetica/Helvetica-Bold.ttf');
}

.Helvetica {
    font-family: 'Helvetica';
    font-weight: 500;
}

@font-face {
    font-family: basheq;
    src: url('fonts/basheq/basheqvintagedemoversionregular-gwpme.otf');
}

.basheq {
    font-family: 'basheq';
    font-size: 1.5em;

    /* font-weight: 500; */
}

.alteHaasGrotesk {
    font-family: 'alteHaasGrotesk';
}

@font-face {
    font-family: alteHaasGrotesk;
    src: url('fonts/alteHaasGrotesk/AlteHaasGroteskBold.ttf');
}

/* ----------------------------------------------------- */

:root {
    --bg-color: #fefefe;
    --text-color: #101010;
    --accent-color: #ffffff;
    --gray-out: #999999;
    --border-color: #101010;
    --hover-zoom: 1.05;
    --special-color: #2979ff;
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.overlay {
    display: none;
}

.overlay-active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.3);
}

#blurWrapper {
    transition: filter 0.4s ease, opacity 0.4s ease;
    will-change: filter, opacity;
}

body.blurred #blurWrapper {
    filter: blur(2px);
    opacity: 0.9;
    pointer-events: none;
    user-select: none;
}

/* Optional fix for the white glow on light backgrounds */
body.blurred #blurWrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    backdrop-filter: none;
}




.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

header {
    background-color: transparent;
    padding: 20px 0 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1002;
}

.navbar {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.navbar-brand img {
    height: 3vh;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: var(--accent-color) !important;
    transition: transform 0.2s;
}

.nav-link:hover {
    color: var(--gray-out) !important;
    transform: rotate(-2deg);
}

.nav-link.active {
    transform: rotate(-2deg);
    color: var(--gray-out) !important;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link::after {
    content: none !important;
}


@media (max-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hamburger {
        position: absolute;
        right: 20px;
        z-index: 1003;
    }

    .banner-info {
        font-size: 0.6rem;
    }
}


.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 20px;
    height: 20px;
    transition: transform 0.4s ease;
    background: none;
    border: none;
}

.hamburger div {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: all 0.4s ease;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}

.hamburger.black div {
    background-color: black !important;
}


#mobileNav {
    position: fixed;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: var(--accent-color);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    transition: left 0.4s ease;
    z-index: 1004;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mobileNav.open {
    left: 0;
}

#mobileNav a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 700;
}

#mobileNav a.gray-out {
    color: var(--gray-out) !important;
    pointer-events: none;
    cursor: default;
}

#mobileNav a i {
    margin-right: 12px;
    font-size: 1rem;
}

#mobileNav .mobile-social-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 6px;
}

#mobileNav .mobile-social-icons a {
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
}

#mobileNav .main-link {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

#mobileNav .dropdown-group {
    display: flex;
    flex-direction: column;
}

#mobileNav .dropdown-items {
    display: none;
    flex-direction: column;
    padding-left: 20px;
    animation: dropdownSlide 0.3s ease;
    margin-bottom: 10px;
}

#mobileNav .dropdown-items a {
    font-size: 1.1rem;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 8px;
}

#mobileNav .dropdown-items.open {
    display: flex;
}

@keyframes dropdownSlide {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

li:hover {
    cursor: pointer;
}

.dropdown-parent {
    position: relative;
}


.desktop-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    border: 1px solid var(--text-color);
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    padding: 0;
}



.desktop-dropdown a {
    display: block;
    width: 100%;
    padding: 8px 12px;
    white-space: nowrap;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.desktop-dropdown a:hover {
    color: var(--gray-out);
    background-color: rgba(0, 0, 0, 0.05);
}


.desktop-dropdown a::before {
    content: "[ ";
    transition: opacity 0.2s ease;
}

.desktop-dropdown a::after {
    content: " ]";
    transition: opacity 0.2s ease;
}

.desktop-dropdown a:hover::before,
.desktop-dropdown a:hover::after {
    content: "";
}


/* Project Section */
.project-item {
    text-align: left;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none !important;
}

.project-item img {
    width: 100%;
    display: block;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.project-item:hover img {
    transform: scale(var(--hover-zoom));
    border-radius: 25px;
}

.project-details {
    margin-top: 15px;
    text-align: left;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none !important;
}

.project-subtext {
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 0.8;
    text-decoration: none !important;
}

footer {
    border-top: 1px solid var(--border-color);
    padding: 30px 0 10px 0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
}

.footer-text {
    font-size: 0.9rem;
}

.footer-text a {
    color: var(--text-color);
    text-decoration: underline;
    margin-left: 5px;
}

.social-icons {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.social-icons a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-icons a[href*="instagram"] i {
    color: #E1306C;
    /* Instagram pink-red */
}

.social-icons a[href*="youtube"] i {
    color: #FF0000;
    /* YouTube red */
}

.social-icons a[href*="tiktok"] i {
    color: #010101;
    /* TikTok black */
}

.social-icons a[href*="twitter"] i {
    color: #1DA1F2;
    /* Twitter blue */
}

.social-icons a[href*="facebook"] i,
.social-icons a[href*="discord"] i {
    color: #2979ff;
    /* Your custom blue */
}


.emoji-svg {
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    margin-left: 0.4em;
    display: inline-block;
    padding-bottom: 10px;
}


@media (max-width: 768px) {
    .social-icons {
        display: none;
    }

    .navbar-brand img {
        display: none !important;
    }

    .hamburger {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1003;
    }

    .hamburger div {
        background-color: white;
    }

    .navbar-brand {
        margin: 0 auto;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1002;
    }

    header {
        height: 80px;
    }

    .navbar {
        padding-top: 80px;
    }

    .welcome-section {
        font-size: .75rem;
    }


}



/* ================== BANNER VIDEO SECTION ================== */

.hero-banner {
    position: relative;
    height: 85vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    /* optional overlay tint */
}

.hero-img {
    max-width: 100vh;
}

.hero-img:hover {
    mix-blend-mode: darken;
    cursor: pointer;
}

.hero-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: slideReveal 1.5s ease-out forwards;
    z-index: 2;
}

@keyframes slideReveal {
    to {
        left: 100%;
    }
}

.banner-info {
    font-family: 'Space Mono';
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-weight: 500;
    z-index: 2;
    text-shadow: 1px 1px 2px black;
    line-height: 1.4;
}



/* ================== YOUTUBE VIDEO SECTION ================== */

.welcome-section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    color: var(--text-color);
    line-height: 1.8;
    margin-bottom: 5%;
}

.pill-box {
    display: inline-block;
    padding: 2px 12px;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    margin: 0 6px;
    font-size: 1em;
    line-height: 1.4;
}

.inline-icon {
    width: 2em;
    height: auto;
    vertical-align: middle;
    opacity: 0.8;
}

.creative-pill {
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.creative-pill:hover {
    background-color: #2979ff;
    /* Blue */
    color: white;
    border-color: #2979ff;
}

/* Active (clicked) state */
.creative-pill.active {
    background-color: green;
    color: white;
    border-color: green;
}




/* =================== INTRO SECTION ======================== */

.youtube-video-section {
    margin-top: 40px;
    margin-bottom: 60px;
}

.youtube-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    /* Matches your project cards */
    background-color: #000;
    /* Black background when no video */
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

.youtube-video-placeholder {
    position: absolute;
    /* Make sure it's on top */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Perfect centering */
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

.youtube-section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.video-description {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.6;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .video-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}



/* ================== CREATIVE PROFILES ================== */

.creative-profiles-section {
    background-color: var(--accent-color);
}

.creative-profiles-section h2 {
    font-size: 2rem;
    text-align: left;
}

.creative-profiles-section .subtext {
    font-size: 1rem;
    color: var(--gray-out);
    text-align: left;
}

/* Hide scrollbar */
.creative-profiles-container {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    scrollbar-width: none;
    /* Firefox */
}

.creative-profiles-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}


.creative-profiles {
    display: flex;
    gap: 20px;
}

.profile-card {
    background-color: var(--accent-color);
    flex: 0 0 240px;
    border-radius: 12px;
    text-align: left;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.profile-card a {
    text-decoration: none;
}

.profile-image {
    aspect-ratio: 3 / 4;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    border-radius: 12px;
    /* filter: grayscale(100%); */
}

.profile-card:hover .profile-image img {
    border-radius: 75px;
}

.profile-pills {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
    padding: 10px 0 0;
}

.pill {
    display: inline-block;
    border: 1px solid var(--special-color);
    background-color: transparent;
    color: var(--special-color);
    padding: 4px 12px;
    font-size: 0.75rem;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.pill:hover {
    background-color: var(--special-color);
    color: var(--accent-color);
}

.profile-name {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--text-color);
}

.profile-title {
    display: block;
    font-size: 0.9rem;
    color: var(--gray-out);
}

/* ARROWS */
.creative-profiles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-arrows {
    display: flex;
    gap: 10px;
}

/* Disable Arrow Buttons */
.nav-arrows button:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.nav-arrows button {
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 1.4rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-arrows button:hover:not(:disabled) {
    background-color: var(--special-color);
    color: var(--accent-color);
    border-color: var(--special-color);
}


.nav-arrows button:hover {
    background-color: var(--special-color);
    color: var(--accent-color);
    border-color: var(--special-color);
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }

    .collapse.navbar-collapse {
        display: none !important;
    }

    #mobileNav a:first-child {
        display: flex;
    }

    .hero-text {
        font-size: 3vw;
    }

    .nav-arrows {
        display: none;
    }

    .youtube-section-title {
        font-size: 1.75rem;
    }

    .section-title {
        font-size: 1.75rem;
    }

    .creative-profiles-section h2 {
        font-size: 1.75rem;
    }
}

@media (min-width: 769px) {
    .navbar-nav .nav-item:first-child {
        display: none;
    }

    .banner-info {
        font-size: 0.9rem;
    }

    .welcome-section {
        font-size: 1.6rem;
    }
}
